@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito Sans";
  src: local("NunitoSansLight"),
    url("../assets/fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local("NunitoSansExtraLight"),
    url("../assets/fonts/NunitoSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("NunitoSansRegular"),
    url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: local("NunitoSansMedium"),
    url("../assets/fonts/NunitoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: local("NunitoSansBold"),
    url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.link {
  @apply bg-transparent border border-solid border-black px-8 py-2 transition duration-300 hover:bg-black hover:text-white hover:border-white;
}
.Toastify__toast {
  background-color: #e4e4e3 !important;
  color: #333 !important;
}

.Toastify__toast::before {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  height: 100% !important;
  width: 8px !important;
  border-radius: 3px !important;
  content: "" !important;
}
.Toastify__toast--success::before {
  background-color: #05eb02 !important;
}

.Toastify__toast--error::before {
  background-color: #e52430 !important;
}
.Toastify__close-button {
  color: #333 !important;
}
